*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 10%;
}
.single-price{
    height: 500px;
    width: 350px;
    cursor: pointer;
    text-align: center;
    margin: 8px;
    padding: 10px;
    transition: 0.9s;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.price-header{
    width: 100%;
    height: 200px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #50C878;
    text-align: center;
    position: relative;
}
.price-header .price{
    position: absolute;
    top:50%;
    left:31%;
    height: 130px;
    width: 130px;
    color: #1a1a1b;
    border: 4px solid #50C878;
    border-radius: 50%;
}
.price-header .price h2{
    font-weight: bold;
    top: 30%;
    left: 21%;
    font-size: 33px;
    position: absolute;
    text-align: center;
}
.deals{
    margin-top: 60px;
    margin-bottom: 60px;
}
.single-price a{
    margin-top: 40px;
    background-color: #50C878;
    border-radius: 4px 4px;
    padding: 15px 40px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.single-price a:hover{
    border:2px solid #50C878;
    background-color: #fff;
    color:  #1a1a1b;
    transition: 0.9s;
}
.single-price:hover{
    scale: 1.1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: 0.9s;
}