/* <!-- 1. header ( logo, menu, login, singup,  ) {mehedi vai} --> */










/* <!-- 2. hero section (pralux, text) {morshed } --> */



    .hero-image{
        background-image: url(images/heroimg1.jpg);
        height: 400px;
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
    }
    .hero-text{
        position: absolute;
        color: #ffffff;
        text-align: center;
        margin: 250px;
        padding: 50px;
        margin-top: 45px;
    }
    .hero-button{
        text-align: center;
        border: none;
        margin: 60px;
        padding: 20px;
        background-color: #50C878;
        color: #161817;
        border-radius: 50px;
        font-size: 20px;
    }
    .hero-button:hover{
        background-color: rgba(80, 200, 120, .8);
        color: #ffffff;
    }



/* <!-- 3. about section (company about, and single photo) {prince admed} --> */
.container .heading {
    width: 100%;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 100px;

}

.container .heading h2 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}

.col-md-6 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 .text {
    padding: 5px;
    border-left: 6px solid #50C878;
}

.col-md-6 .text h1 {
    padding: 10px;
    font-size: 45px;
}

.col-md-6 .text p {
    padding: 10px;
    text-align: justify;
}

.col-md-6 img {
    padding: 10px;
    ;
    height: auto;
    width: 35rem;
}




/* <!-- 4. servies section (web development, softwer development, mobile apps, sline suppot, ) {Raihan} --> */

.serviesheader {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}






/* <!-- 5. pricing section (slider) {shourav saha} --> */








/* <!-- 6. our cline feedbac {Nazmul vai} --> */