/* <!-- 1. header ( logo, menu, login, singup,  ) {mehedi vai} --> */
/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* header section : shourav saha
servers section : morsed 
price section : prince ahmed
Contract : nazmul shesk
Client sectio : Mehedi hasan */


h1, h2, h3, h4, h5, h6{
    font-family: 'Lora', serif;

}
h2{
    font-size: 30px;
}
p{
    font-family: 'Lora', serif;
}

html {
    scroll-behavior: smooth;
}

.logo-image{
    width: 70px;
    height: 70px;
}
.bg-header {
	background-color: #2ECC71;
}
/* <!-- 2. hero section (pralux, text) {morshed } --> */
    .hero{
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/company.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
        background-attachment: fixed;
        position: relative;
    } 
    .headertext{
        position: absolute;
        top: 40vh;
        width: 100%;
        text-align: center;
    }
    .heading-text-main {
        font-size: 70px;
        font-family: 'Dancing Script', cursive;
    }
    /* button hover link   */
    
    .glow-on-hover {
        border: none;
        outline: none;
        color: #000000;
        background: #000000;
        /* cursor: pointer; */
        position: relative;
        z-index: 0;
        /* border-radius: 10px; */
    }

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(5, 1, 1)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2ecc71;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
    /* button hover link   */
/* <!-- 3. about section (company about, and single photo) {prince admed} --> */
.container .heading {
    width: 100%;
    height: 20px;
    display: inline-block;
    text-align: center;
    /* margin-top: 20px;
    padding: 5px;
    margin-bottom: 100px; */

}
.container .heading h2 {
    font-size: 50px;
    font-family: 'Lora', serif;
}

.col-md-6 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 .text {
    padding: 5px;
    border-left: 6px solid #2ECC71;
}

.col-md-6 .text h1 {
    padding: 10px;
    font-size: 45px;
}

.col-md-6 .text p {
    padding: 10px;
    text-align: justify;
}

.col-md-6 img {
    padding: 10px;
    ;
    height: auto;
    width: 35rem;
}


/* <!-- 4. servies section (web development, softwer development, mobile apps, sline suppot, ) {Raihan} --> */

#sticky-header.sticky {
    width: 100%;
    color: white;
    background-color: #2ECC71;
}

#sticky-header.sticky a {
    color: white;
}
.clinesection{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/photo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}
.serviesheader{
    font-size: 50px;
    font-family: 'Lora', serif;
}
.serviesheader-servise{
    border-bottom: 1px solid  #2ECC71;
}
.clinephoto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.servises-icon{
    font-size: 80px;
    display: block;
    text-align: center;
}
.servises-info{
    text-align: center;
}
.servises{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* cotact section  */
/* google map */
iframe{
    width:600px;
    height: 450px;
}
@media only screen and (max-width: 1172px) {
    iframe{
        width:550px;
        height: 400px;
    }

  }
@media only screen and (max-width: 992px) {
    iframe {
        width: 466px;
        height: 379px;
    }

  }
@media only screen and (max-width: 482px) {
    iframe {
        width: 400px;
        height: 300px;
    }

  }
@media only screen and (max-width: 339px) {
    iframe {
        width: 300px;
        height: 250px;
    }

  }
@media only screen and (max-width: 289px) {
    iframe {
        width: 280px;
        height: 230px;
    }

  }
/* <!-- 5. pricing section (slider) {shourav saha} --> */
<<<<<<< HEAD

=======
.row{
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
}

.single-price{
    height: 500px;
    width: 350px;
    cursor: pointer;
    text-align: center;
    margin: 8px;
    padding: 10px;
    transition: 0.9s;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.price-header{
    width: 100%;
    height: 200px;
    padding-top: 20px;
    text-transform: uppercase;
    color:#2ECC71;
    text-align: center;
    position: relative;
}
.price-header .price{
    position: absolute;
    top:50%;
    left:31%;
    height: 130px;
    width: 130px;
    color: #1a1a1b;
    border: 4px solid #2ECC71;
    border-radius: 50%;
}
.price-header .price h2{
    font-weight: bold;
    top: 30%;
    left: 21%;
    font-size: 33px;
    position: absolute;
    text-align: center;
}
.deals{
    margin-top: 60px;
    margin-bottom: 60px;
}
.single-price a{
    margin-top: 40px;
    background-color: #2ECC71;
    border-radius: 4px 4px;
    padding: 15px 40px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.single-price a:hover{
    border:2px solid #2ECC71;
    background-color: #fff;
    color:  #1a1a1b;
    transition: 0.9s;
}
.single-price:hover{
    scale: 1.1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: 0.9s;
}
>>>>>>> 7f1a9d5dfde1c592c337ad6477a53b981fea51b7

/* <!-- 6. our cline feedbac {Nazmul vai} --> */
footer{
  background-color: #222f3e;  
  /* padding: 200px 20px 0px;
  position: relative; */
}
footer h4{
    color: white;
    font-size: 27px;
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer a{
    color: #57ae9e;
    font-family: tahoma;
    margin-top: 4px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
}
footer a:hover{
    color: #50C878;
    text-decoration: none;
}
.svg{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}
.main-footer{
    background-color: #161a17;
    padding: 23px 0px;
}
.main-footer p,a{
    font-style: italic;
    color: #444;
    font-family: arial;
    font-weight: 600;
    margin: 0px;
}
.main-footer a:hover{
    text-decoration: none;
    color: gold;
}